/* Pseudo Element*/
p::first-line {
  color: gold;
  word-spacing: 2px;
  letter-spacing: 1px;
  background-color: blue;
}

p.about::first-letter {
  font-size: 50px;
  background-color: white;
}

p::after {
  content: "";
  display: block;
}

p::before {}

/*Pseudo Class */
ul li {
  background-color: red;
  padding: 7px;
  margin-bottom: 3px;
  list-style: none;
}

ul li:first-child {
  background-color: green;
}

ul li:nth-of-type(even) {
  background-color: black;
  color: orange
}

ul li:nth-of-type(odd) {
  background-color: orange;
  color: black;
}

a {
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  width: 80px;
  border: 2px solid;
  margin-bottom: 3px;
}

a:link {/**tiklanmamis link */
  color: orange;
}

a:visited {/*tiklanmis link */
  color: blue;
}

a:hover {/**imlec ile uzerinde durulan link*/
  color: red;
}

a:active {/*aktif olan link rengi*/
  color: green;
}

span {
  display: none;
  padding: 20px;
  background: yellow;
}

div:hover span {
  display: block;
}
